<footer class="bg-light py-5 mt-auto" style="background-image:url(/assets/images/graphics/background1.png); background-repeat:repeat; background-size: 300px 300px;">
    <div class="container">
       <div class="row">
         
        <div class="col-lg-4 mb-4" style="text-align:center">
          <br>
          <a href="https://www.facebook.com/BeerGoggleGames" target="_blank" class="bi bi-facebook text-center" style="font-size:30px;color:#0E6FFD;background:none;background-image:none;padding:20px;"></a> <a href="https://www.instagram.com/BeerGoggleGames" target="_blank" class="bi bi-instagram text-center" style="font-size:30px;color:#0E6FFD;background:none;background-image:none;padding:20px"></a><a href="mailto:BeerGoggleGames@hotmail.com" class="bi bi-envelope text-center" style="font-size:30px;color:#0E6FFD;background:none;background-image:none;padding:20px"></a>
          <br>
          <br>
          </div>
         
         <div class="col-lg-4 mb-4" style="text-align:center">
             <a href="/">
             <img src="/assets/images/graphics/BGG.png" width="100px" height="100px"></img>
             </a>
         </div>
      
         <div class="col-lg-4 mb-4" style="text-align:center">
           <br>
           <a href="https://www.paypal.com/paypalme/BeerGoggleGames" target="_blank">
             <img src="/assets/images/graphics/paypal.png" width="100px" height="57px"></img>
           </a>
         </div>
      </div>
    </div>
</footer>

<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            
            <div class="col-auto">
                <div class="small m-0 text-white">
                    Copyright &copy; Beer Goggle Games 2022
                </div>
            </div>
            
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
            
        </div>
    </div>
</footer>
